.red {
  color: red;
}

.RegistrationForm {
  background-color: aliceblue;
  padding: 10px 10px 10px 10px;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.RegistrationForm h2 {
  margin: 20px 20px;
}

.user_name input,
.password input {
  margin-top: 5px;
  border: 1px solid gray;
}

.user_name,
.password {
  margin: 10px 0;
}
.restrbuttonrow {
  margin: 20px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
