.App_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Bellota", cursive;
  text-decoration: underline;
  font-weight: 1000;
  color: black;
}

.header_link:hover .header_link:visited {
  color: darkblue;
}

.header_link {
  clear: right;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.toprowbtns {
  align-self: baseline;
  font-size: 0.9em;
  height: auto;
  width: fit-content;
}

button {
  border: 1px solid black;
  color: white;
  background-color: black;
  font-size: 1em;
  border-radius: 3%;
  padding: 5px 50px;
  margin: auto;
}

button[disabled] {
  background-color: red;
}

button[disabled]:hover {
  background-color: red;
  color: white;
}

.start {
  border: 2px solid red;
}

body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto", serif;
}

@media screen and (min-width: 415px) {
  button {
    font-size: 0.9em;
  }

  .App_header {
    margin-bottom: 0;
  }

  button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
}
