.App_header {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 50px;
  font-family: "Bellota", cursive;
  text-decoration: none;
  font-weight: 1000;
  color: black;
}

.header_link:hover .header_link:visited {
  color: darkblue;
}

.header_link {
  text-decoration: none;
  color: black;
}

button {
  border: 1px solid black;
  color: white;
  background-color: black;
  font-size: 1.25em;
}

button:hover {
  color: black;
  background-color: white;
}

body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto", serif;
}
