* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.App_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Bellota", cursive;
  text-decoration: underline;
  font-weight: 1000;
  color: black;
  margin-bottom: 1em;
}

.header_link:hover .header_link:visited {
  color: darkblue;
}

.header_link {
  clear: right;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.toprowbtns {
  align-self: baseline;
  height: auto;
}

button.toprowbtns {
  width: 5em;
  font-size: .8em
}

button {
  border: 1px solid black;
  color: white;
  background-color: black;
  font-size: 1em;
  border-radius: 3%;
  padding: .3em .75em;
  margin: auto;
  width: 10em;
}

button[disabled] {
  background-color: red;
}

button[disabled]:hover {
  background-color: red;
  color: white;
}

label {
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

input,
select {
  font-size: 1.1em;
  padding: 5px;
}

input,
label {
  width: 100%;
}

.start {
  border: 4px solid red;
}

body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto", serif;
}

@media screen and (min-width: 411px) {
  .App_header {
    margin-bottom: 2em;
  }

  button:hover{
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px -5px #000000; 
    box-shadow: 5px 5px 5px -5px #000000;
  }
}

@media screen and (min-width: 768px) {
  button.toprowbtns {
    width: 10em;
    font-size: 1em
  }
}
