.LoginForm {
  margin: 0 5% 5% 5%;
  padding: 1.5em 5%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.LoginForm button {
  width: 100%
}

.LoginForm p {
  margin: 0;
  color: black;
}

.LoginForm div {
  margin-bottom: 1.5em;
}


.LoginForm .red {
  color: red;
  font-size: 0.65em;
  margin: 0;
  padding: 0;
}

.daybox_DECO a {
  text-decoration: none;
}


