.LoginForm {
  margin: 0 5% 5% 5%;
  padding: 0 5% 5% 5%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.LoginForm p {
  margin: 0;
  color: black;
}

.LoginForm div {
  margin-bottom: 1em;
}

.LoginForm button {
  width: fit-content;
  align-self: flex-end;
}

label {
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

input,
label {
  width: 80%;
  font-size: 1em;
}

.LoginForm .red {
  color: red;
  font-size: 0.65em;
  margin: 0;
  padding: 0;
}

.daybox_DECO a {
  text-decoration: none;
}

@media screen and (min-width: 415px) {
  .LoginForm p,
  label,
  input {
    font-size: 0.9em;
  }
}
