.day_box {
  padding-left: 5px;
  padding-right: 5px;
  border: solid black 1px;
  border-radius: 2%;
  width: 80px;
  height: 140px;
  margin-bottom: 20px;
}

.day_box .hours {
  margin-bottom: 8px;
}

.bold {
  font-weight: bold;
}

.day_box .big {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 3px;
}

.day_box p {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px 0 0 0;
}

.small {
  font-size: 14px;
}

.dypbutton {
  margin: auto;
}

.completed_box {
  padding-right: 5px;
}

.qubox {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pencil-alt {
  margin-top: 6px;
  color: white;
}

.fa-pencil-alt:hover {
  color: black;
}

.topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .day_box {
    width: 100px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .day_box {
    width: 90px;
    height: 135px;
  }
}
