.day_box {
  padding-left: 5px;
  padding-right: 5px;
  border: solid black 1px;
  border-radius: 2%;
  width: 80px;
  height: 120px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 12px;
}

.day_box p {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small {
  font-size: 10px;
}

.dypbutton {
  margin: auto;
}

.completed_box {
  padding-right: 5px;
}

.qubox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pencil-alt {
  color: white;
}

.fa-pencil-alt:hover {
  color: black;
}

.topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .day_box {
    width: 100px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .day_box {
    width: 90px;
    height: 135px;
  }
}
