.container_login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_new {
  margin-top: 50px;
}

.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
